<?xml version="1.0"?>
<services>

  <service name="com.devrockit.wcfsample1.Service.Services.PolicyService">

    <host>
      <baseAddress
    </host>

    <endpoint
        address="net.tcp://localhost:8002/PolicyEndpoint"
        binding="netTcpBinding"
        contract="com.devrockit.wcfsample1.Contract.IPolicyService" />

  </service>

</services>